

[data-aos][data-aos][data-aos-delay="300"],body[data-aos-delay="300"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="300"].aos-animate,body[data-aos-delay="300"] [data-aos].aos-animate {
    transition-delay: .3s
}

[data-aos][data-aos][data-aos-duration="800"],body[data-aos-duration="800"] [data-aos] {
    transition-duration: .8s
}
[data-aos][data-aos][data-aos-duration="1300"],body[data-aos-duration="1300"] [data-aos] {
    transition-duration: 1.3s
}
[data-aos][data-aos][data-aos-duration="2000"],body[data-aos-duration="2000"] [data-aos] {
    transition-duration: 2s
}
[data-aos][data-aos][data-aos-easing=ease-in-back],body[data-aos-easing=ease-in-back] [data-aos] {
    transition-timing-function: cubic-bezier(.6,-.28,.735,.045)
}

[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity,transform
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translate(0)
}

[data-aos=fade-up] {
    transform: translateY(100px)
}

[data-aos=fade-right] {
    transform: translate(-100px)
}

[data-aos=fade-left] {
    transform: translate(100px)
}

[data-aos=fade-up-right] {
    transform: translate(-100px,100px)
}

[data-aos=fade-up-left] {
    transform: translate(100px,100px)
}

[data-aos=fade-down-right] {
    transform: translate(-100px,-100px)
}

[data-aos=fade-down-left] {
    transform: translate(100px,-100px)
}

[data-aos^=zoom][data-aos^=zoom] {
    opacity: 0;
    transition-property: opacity,transform
}

[data-aos^=zoom][data-aos^=zoom].aos-animate {
    opacity: 1;
    transform: translate(0) scale(1)
}

[data-aos=zoom-in] {
    transform: scale(.6)
}

[data-aos=zoom-in-up] {
    transform: translateY(100px) scale(.6)
}
