/* Base */
.border-2 {
  border-width: 2px; }

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }



.offcanvas-menu {
  position: relative; }
  .offcanvas-menu:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2); }


.line-height-1 {
  line-height: 1 !important; }

.bg-black {
  background: #000; }

.form-control {
  height: 43px;
  border-radius: 30px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: transparent !important;
  color: #fff !important;
  border-color: rgba(255, 255, 255, 0.5) !important;
  border-bottom-width: 2px !important; }
  .form-control:active, .form-control:focus {
    border-color: #fff !important; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5); }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5); }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.5); }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5); }

.site-section {
  padding: 2.5em 0;
 }
  @media (min-width: 768px) {
    .site-section {
      padding: 7em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }



.section-title {
  position: relative; 
font-size: 2.5rem;
font-weight: 700;}
  .section-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #e8590c;
    width: 50px;
    display: none; }
  .section-title.text-center:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .section-title.text-center:after {
    background: #fff; }

.position-relative {
  position: relative; }
    .s-title{
      color: #f8f9fa;
    }

/* responsive media queries */
.item {
  border: none;
  margin-bottom: 30px;
  border-radius: 4px;
  display: block; }
  .item a {
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    display: block; }
    .item a img {
      position: relative;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
  .item .item-wrap {
    display: block;
    position: relative; }
    .item .item-wrap:after {
      z-index: 2;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      visibility: hidden;
      opacity: 0;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
    .item .item-wrap > span {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
      color: #fff;
      font-size: 1.7rem;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .item .item-wrap:hover:after {
      opacity: 1;
      visibility: visible; }
    .item .item-wrap:hover span {
      margin-top: 0px;
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1); }
  .item:hover a img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }

.slide-one-item .slide {
  text-align: center; }
  .slide-one-item .slide blockquote {
    position: relative;
    max-width: 700px;
    font-size: 1.2rem;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    color: #fff; }
    .slide-one-item .slide blockquote:before {
      color: #fff;
      font-size: 2.2rem;
      font-style: normal;
      font-family: 'icomoon';
      content: "\e900"; }
 
    .slide-one-item .slide p{
      margin-top: 20px;
      margin-bottom: 0px;
    }
.slide-one-item .owl-dots {
  text-align: center; }
  .slide-one-item .owl-dots .owl-dot {
    display: inline-block; }
    .slide-one-item .owl-dots .owl-dot > span {
      margin: 7px;
      background: rgba(255, 255, 255, 0.3);
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%; }
    .slide-one-item .owl-dots .owl-dot:hover > span {
      background: rgba(255, 255, 255, 0.5); }
    .slide-one-item .owl-dots .owl-dot.active > span {
      background: #fff; }



.event_entry > div {
  border: 1px solid #eee;
  border-top: none; }

.event_entry h3 {
  font-size: 1.3rem; }
 
.event_entry .date {
 font-weight: 700;
  display: block;
 
  }

.form .form-control {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #eee; }
  .form .form-control:active, .form .form-control:focus {
    border-color: #000; }

.footer {
  font-size: .9rem;
   
}
  .footer .footer-title {
    font-size: 1.1rem;
    margin-bottom: 30px;
  color: white; }
  .footer ul li {
    margin-bottom: 10px; }
  .footer a {
    color: #888888; }
   
.pg-text{
  font-size: 20px;
  
}
.ab-text{
  font-size: 18px;
}

.progress {
  overflow: visible;
  margin-top: 10px;
  margin-bottom: 26px;
  height: 7px;
background-color: rgb(212, 196, 196) }
  .progress .progress-bar {
    background-color: rgb(255, 255, 255);;
    position: relative;
    border-radius: 4px; }
    .progress .progress-bar span {
      background-color: rgb(255, 255, 255);
      position: absolute;
      bottom: -35px;
      font-size: 16px;
      line-height: 10px;
      padding: 10px 11px 10px 12px;
      right: -1.4em;
      border-radius: 2px; }
    .progress .progress-bar span:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color:rgb(255, 255, 255);
      border-width: 5px;
      margin-left: -5px; 
    }


  
/* Masonry Grid */

.grid:after {
  content: '';
  display: block;
  clear: both;
}


.footer_cont{
  margin: 0 3rem;
}


@media (min-width:320px) and (max-width: 640px) {
  .footer_cont{
    margin: 0 1rem;
  }
  .footer .footer-title {
    font-size: 1.1rem;
    margin-bottom: 16px;
  color: white; }
  .grid-sizer,
  .grid-item {
    width: 49%;
  }
 
   
    
    .gutter-sizer{
      width:2%;
    }
    
.grid-item {
  float: left;
  margin-bottom: 8px;
}
}
@media (min-width: 641px) and (max-width: 1023px){ /* ... */
  
.grid-sizer,
.grid-item {
  width: 31%;
}

.gutter-sizer{
  width:3.5%;
}
.grid-item {
  float: left;
  margin-bottom: 20px;
}
 



}
@media (min-width: 1024px) { /* ... */ 
  .grid-sizer,
  .grid-item {
    width: 31%;
  } 
  
 
  .gutter-sizer{
    width:3.5%;
  }
  .grid-item {
    float: left;
    margin-bottom: 32px;
  }
}
 

.grid-item img {
  display: block;
  max-width: 100%;

}




.tst-con-bg{
  background-color:#ff922b;
}
.btn-color{
  background: #e8590c;
    border-color: #e8590c;
    color: #fff;
}

.title-white{
  color: white;
}

footer{
  
  padding-top: 7em;
  padding-bottom: 2em;
}
.about-sect{
  background-color:#ff922b ;
}


.thankyou_message{
  display: none;
  color: white;
  font-size: 1.5rem;
}
@media (min-width:320px) and (max-width: 640px) {
  .thankyou_message{
    font-size: 1.2rem;
  } 
}
.number{
  font-weight: 700;
}
.txt-white{
  color: white;
}
::placeholder {
  color: white !important; 
}
:-ms-input-placeholder {color: white !important; }
::-ms-input-placeholder {color: white !important;}

.service-title{
  top:50%;
  left:50%;
  -webkit-transition: .3s all ease-in-out;
-o-transition: .3s all ease-in-out;
transition: .3s all ease-in-out;
}

.service-cont{
  
-webkit-transition: .3s all ease-in-out;
-o-transition: .3s all ease-in-out;
transition: .3s all ease-in-out;
top: 0;
position: relative;
}
.service-cont:hover{
  
  top:-10px;

}

.service-cont{
  height: 200px;
 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.s-bg-1{
  background-image: url(/images/s1.jpg);
}
.s-bg-2{
  background-image: url(/images/s2.jpg);
}
.event-icon{
  color: #666666; 
  padding-right: 1rem;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
.entrytext-cont{
  margin-bottom:.5rem;
}
.entry-cont{
  height:250px;
}
.footer-btn{
  padding-left: .3rem;
  color: #e8590c !important;
}
.upi-id{
  color: #666666;
}
.copyright{
 color:  #666666;
 font-size: 1rem;;
}

.footer-text{
  font-size: 1.1rem;;
}
@media (min-width: 768px) {
.pg-text{
  font-size: 1.5rem;
  
}
.ab-text{
  font-size: 1.4rem;
}
.slide-one-item .slide blockquote {
  font-size: 1.4rem;
}
.slide-one-item .slide blockquote h6 {
  font-size: 1.2rem;
}
.event_entry h3 {
  font-size: 1.5rem; }

.event_entry h5 {
  font-size: 1.3rem; 
}
 .form-control{
   font-size: 1.4rem;
 }
  
}
