<!doctype html>
<html lang="en">

<head>
  <title>GPk Studio </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  {# <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css"> #}
    
<link rel="stylesheet" href="css/test.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  
  

  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" style="overflow-x: hidden; overflow-y: hidden;">



  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-cross js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid"  >
        <div class="row align-items-center justify-content-center" >
          
        <div class="">
            <nav class="site-navigation position-relative text-right " role="navigation"  >
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#services-section" class="nav-link">Services</a></li>
                <li><a href="#about-section" class="nav-link">About</a></li>
              </ul>
            </nav>
           </div>

          <div class=" text-center mx-5"   >
            <h1 class="m-0 site-logo" ><a href="index.html"  >GPK</a></h1>
          </div>

          <div class="text-left">

            <nav class="site-navigation position-relative" role="navigation" >
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#portfolio-section" class="nav-link">Photography</a></li>
                <li><a href="#events-section" class="nav-link">Events</a></li>
                <li><a href="#contact-section" class="nav-link  c-button ">Contact</a></li>
               
              
              </ul>
               
              
            </nav>


           
          </div>
           <div class="d-inline-block d-lg-none ham-menu" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>


        </div>
      </div>
      
    </header>


    <div class="site-blocks-cover overlay bg-light" id="home-section">

      <div class="container">
        <div class="row justify-content-center">

          <div class="col-md-12 mt-5 mt-lg-5 text-left align-self-center text-intro">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="text-white" data-aos="fade-right" data-aos-duration="1300">We Are GPK studio</h1>
                <p class="text-secondary" data-aos="fade-left" data-aos-duration="1300"   data-aos-delay="300">Photography <span class="mx-2">|</span> Videography<span class="mx-2">|</span>DJ</p>
                <p class="lead" data-aos="fade-right" data-aos-duration="1300">We are a  full service event management firm based in Sholinghur, Ranipet that was created by pairing together our passion for business and events. We bring a fresh & unique approach to the events we serve.</p>
                <p><a  href="tel:8838646120" class="btn smoothscroll btn-primary" data-aos="fade-left" data-aos-duration="1300"  data-aos-delay="300">Call Us</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <img src="images/credo_img_1.jpg" alt="Image" class="img-face">

    </div>

    <div class="site-section services-sect " id="services-section">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title  s-title text-center mb-5" data-aos="fade-up"  >We Offer</h2>
          </div>

          <div class="col-md-6 mb-4   " data-aos="fade-down-right" data-aos-duration="1300" data-aos-delay="300">
           
              <div class="service-cont  s-bg-1 lazy">
              
                <h3 class="position-absolute text-white service-title" style=" margin-left:-57.5px;margin-top:-16.5px">Wedding</h3>
              
             </div>
              </div>
         

          <div class="col-md-6 mb-4" data-aos="fade-down-left" data-aos-duration="1300" data-aos-delay="300">
             <div class="service-cont s-bg-2 lazy">
              
                <h3 class="position-absolute text-white service-title" style=" margin-left:-123.5px;margin-top:-16.5px">Cinematic Wedding</h3>
             </div>
          </div>

          <div class="col-md-6 mb-4" data-aos="fade-up-right" data-aos-duration="1300" data-aos-delay="300">
           <div class="service-cont s-bg-3 lazy" data-bg="url(/images/s3.jpg)">
              
                <h3 class="position-absolute text-white service-title" style=" margin-left:-95.5px;margin-top:-16.5px">Montage Video </h3>
             </div>
          </div>

          <div class="col-md-6 mb-4" data-aos="fade-up-left" data-aos-duration="1300" data-aos-delay="300">
             <div class="service-cont s-bg-4 lazy" data-bg="url(/images/s4.jpg)">
              
                <h3 class="position-absolute text-white service-title" style=" margin-left:-138.5px;margin-top:-16.5px">Candid Photo & Video</h3>
              
             </div>
         
          </div>

          <div class="col-md-6 mb-4 " data-aos="fade-up-right" data-aos-duration="1300" data-aos-delay="300">
        
              <div class="service-cont s-bg-5 lazy" data-bg="url(/images/s5.jpg)">
              
                <h3 class="position-absolute text-white service-title" style=" margin-left:-72.5px;margin-top:-16.5px">Baby Shoot</h3>
              
             </div>
             
            
          </div>

          <div class="col-md-6 mb-4" data-aos="fade-up-left" data-aos-duration="1300" data-aos-delay="300">
             <div class="service-cont s-bg-6 lazy"  data-bg="url(/images/s6.jpg)">
              
                <h3 class="position-absolute text-white service-title" style=" margin-left:-89.5px;margin-top:-16.5px">Product Shoot</h3>
              
             </div>
          </div>
           <div class="col-md-6 mb-4" data-aos="fade-up-right" data-aos-duration="1300" data-aos-delay="300">
            <div class="service-cont s-bg-7 lazy" data-bg="url(/images/s7.jpg)">
              
                <h3 class="position-absolute text-white service-title" style=" margin-left:-136.5px;margin-top:-16.5px"> Corporate & Modeling </h3>
                <h3 class="position-absolute text-white service-title" style=" margin-left:-42px; margin-top:10px">Events</h3>
             </div>
          </div>

          <div class="col-md-6 mb-4" data-aos="fade-up-left" data-aos-duration="1300" data-aos-delay="300">
            <div class="service-cont s-bg-8 lazy" data-bg="url(/images/s8.jpg)">
              
                <h3 class="position-absolute text-white service-title" style=" margin-left:-89.5px;margin-top:-16.5px">Season Shoot</h3>
              
             </div>
          </div>
          <div class="col-md-6 mx-auto mb-4" data-aos="fade-up" data-aos-duration="1300" data-aos-delay="300">
           
              <div class="service-cont s-bg-9 lazy" data-bg="url(/images/s9.jpg)">
              
                <h3 class="position-absolute text-white service-title" style=" margin-left:-14.5px;margin-top:-16.5px">DJ</h3>
             
             </div>
            </div>
          </div>

        </div>
      </div>
    </div>



    <div class="site-section about-sect " id="about-section">
      <div class="container ">
        <div class="row ">
          <div class="col-12 mb-4 position-relative">
            <h2 class="section-title" data-aos="fade-right">Who Are We</h2>
          </div>
          <div class="col-lg-6 order-2 order-lg-1 mb-4">
            <img class="img-fluid mb-4" src="images/credo_img_1.jpg" alt="Image" data-aos="zoom-in-up" data-aos-easing="ease-in-back" data-aos-delay="300"data-aos-offset="0">
           
          </div>
          <div class="col-lg-6 order-2 order-lg-4 mb-4">
           <p class="text-black ab-text" data-aos="fade-left" >We are a group of friends teeming with ground-breaking and spanking new ideas along with a determination of making your events and parties happen easier and enjoyable for you. While we took care of all the managing required by them. And so without much ado GPK Studios was born.</p>
           </div>
           <div class="col-lg-6 order-2 order-lg-3 mb-4">
            <p class="text-black ab-text" data-aos="fade-right">We have been engaged in events of all sorts including Private Parties, Corporate Events, Wedding Planning, Brand Elevation, Product Launching, Venue Promotion, Brand Activation & Advertising, pre and post Wedding Functions, Exhibitions and Fabrication, Sports Management, College Festivals, Artist Managements, Theme Parties, Event Coverage & Talent Management etc.</p>
          </div>
          <div class="col-lg-6 order-3 pl-lg-5 order-lg-2 event-count">
            <div class="mb-5">
              <strong class="text-black pg-text">Weddings</strong>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                  style="width: 89%;">
                  <span class="number text-black">89</span>
                </div>
              </div>
            </div>
            <div class="mb-5">
              <strong class="text-black pg-text">Baby & product Shoot</strong>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                  style="width: 75%;">
                  <span class="number text-black">75</span>
                </div>
              </div>
            </div>
            <div class="mb-5">
              <strong class="text-black pg-text">Corporate Events</strong>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                  style="width: 94%;">
                  <span class="number text-black">94</span>
                </div>
              </div>
            </div>
            <div class="mb-5">
              <strong class="text-black pg-text">Other Events</strong>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                  style="width: 94%;">
                  <span class="number text-black">94</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




    <section class="site-section photo-section block__62272" id="portfolio-section">


      <div class="container">
        <div class="row mb-5">
          <div class="col-12 ">
            <h2 class="section-title text-center mb-5 title-white" data-aos="fade-up">Our Photography</h2>
          </div>
        </div>
      <div class="grid   item  " >
        <div class="grid-sizer "></div>
        <div class="gutter-sizer "></div>
        {% for img in images %}
        <a href="{{img.image}}" class="item-wrap fancybox  grid-item" data-aos="fade-up" >
          <span class="icon-search"></span>
          <img class="img-fluid  " src="{{img.image}}"  >
        </a>
         {% endfor %} 
       
      </div>
       
    </section>


    <section class="site-section tst-con-bg"  >
      <div class="container" data-aos="fade-up" data-aos-duration="1300" data-aos-delay="300">
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5 text-white"  >What Our Client Are Saying</h2>
          </div>
        </div>
        <div class="owl-carousel slide-one-item"  >
          <div class="slide" >
            <blockquote>
              <p >It was a truly magical day – for the first time in my life, I can’t actually find the words to describe it. However, We do have the photos to remember it all. Our photographs are exquisite and we shall treasure them for the rest of our lives</p>
              <p>&mdash; Baskar & Priya</p>
              <h6 class="text-center">Ranipet</h6>
            </blockquote>
          </div>
          <div class="slide" data-aos="fade-up">
            <blockquote>
              <p  >The passion and enjoyment they have for what they do was present in every detail. I did not cry during our wedding day until we saw our Day of Slideshow at the reception. I lost it. Every single rupee spent was more than worth it. We truly have one of a kind pictures that will last us a lifetime.</p>
              <p>&mdash; Arun & Devi</p>
              <h6 class="text-center">Vellore</h6>
            </blockquote>
          </div>
          <div class="slide" data-aos="fade-up">
            <blockquote>
              <p  >We are delighted with the photos, there are some fantastic shots in there, particularly some of the black and whites of the kids walking on the tree lined paths. Really appreciate the time you gave on the day to get all the shots in.</p>
               <p>&mdash;Rajesh & Durga </p>
              <h6 class="text-center">Sholinghur</h6>
            </blockquote>
          </div>
        </div>
      </div>
    </section>



    <section class="site-section bg-light" id="events-section" >
      <div class="container" data-aos="fade-up" data-aos-duration="1300" data-aos-delay="300">
        <div class="row">

          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5" > Our Upcoming Events</h2>
          </div>
        </div>
        <div class="owl-carousel nonloop-block-13 position-relative" >
           {% for event in events  %}
          <div class=" mb-5 mb-lg-0 m-2  slide " >
            <div class="event_entry"  >
         
              <div class="p-4 bg-white entry-cont d-flex flex-column justify-content-center ">
              <div class="d-flex align-items-center entrytext-cont">
              <p class="icon-calendar event-icon"></p>
                <h3 class="date"> {{event.date}}</h3>
              </div>
              <div class="d-flex align-items-center entrytext-cont">
              <p class="icon-location2 event-icon"></p>
               <h5> {{event.location}}</h5>
               </div>
               <div class="d-flex align-items-center entrytext-cont">
               <p class="icon-event_note event-icon"></p>
                <h5> {{event.title}}</h5>
             </div>
              </div>

            </div>
          </div>
          {% endfor%}

        </div>
      </div>

    </section>


    <section class="site-section tst-con-bg" id="contact-section">
      <div class="container " data-aos="fade-up" data-aos-duration="1300" data-aos-delay="300" >
        <div class="row" >
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center text-white mb-5" data-aos="fade-up">Say Hello</h2>
          </div>
        </div>
        <form  class="form gform"  method="POST"   action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSfVqRJtZBKHeLO879koAL_F8lWtGSfRXadHeCodmy8pArVyFw/formResponse">
          <div class="row mb-4" data-aos="fade-up">
            <div class="form-group col-6">
              <input type="text" name="entry.2005620554" class="form-control text-white txt-white" placeholder="Name">
            </div>
            <div class="form-group col-6">
              <input type="tel" name="entry.1166974658" class="form-control text-white txt-white" placeholder="Phone Number">
            </div>
          </div>

          <div class="row mb-4" data-aos="fade-up">
            <div class="form-group col-12">
              <input type="email" name="entry.1045781291" class="form-control text-white txt-white" placeholder="Email address">
            </div>
          </div>

          <div class="row mb-4" data-aos="fade-up">
            <div class="form-group col-12">
              <input type="text" name="entry.1065046570" class="form-control text-white txt-white"  placeholder="Subject of the message">
            </div>
          </div>

          <div class="row mb-4" data-aos="fade-up" >
            <div class="form-group col-12">
              <textarea id="trigger-left" name="entry.839337160" id="" cols="30"  class="form-control text-white txt-white"
                placeholder="Type your message here.."></textarea>
            </div>
          </div>

          <div class="row " data-aos="fade-up">
            <div class="col-md-6" >
              <input type="submit"   class="btn btn-color " value="Send Message">
            </div>
          </div>
            <div class="row text-center lg-col-4 mx-auto mt-5 " data-aos="fade-up">
            <p class="thankyou_message mx-auto text-center" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="300"> Thanks for submitting the form</p>
            </div>
        </form>
      </div>
    </section>

    <footer class="  footer">
      <div class="container" >
        <div class="row mb-5" >
          <div class="col-md-3 mb-3" data-aos="fade-up">
            <h3 class="footer-title" >GPK Studios</h3>
            <a href="#"><p ><span class="d-inline-block d-md-block">#31/7,Vasavi Complex,</span>Walaja Road,Sholinghur - 631102
            </p></a>
          </div>
          <div class="col-md-5  ">
            <div class="row" >
              <div class="col-lg-6 mb-3" data-aos="fade-up">
                <h3 class="footer-title">Call Us</h3>
                <ul class="list-unstyled">
                  <li><a href="tel:88386464210">+91 88386 464210</a></li>
                 <li><a href="tel:88386464210">+91 88386 464210</a></li>
                </ul>
              </div>
              <div class="col-lg-6 mb-3" data-aos="fade-up">
                <h3 class="footer-title">Email Us</h3>
                <ul class="list-unstyled">
                  <li><a href="mailto:contact@gpkstudios.com">contact@gpkstudios.com</a></li>
                  <li><a href="mailto:prabanjangpk@gmailcom">prabanjangpk@gmailcom</a></li>
                  
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-2 mb-3 " data-aos="fade-up">
            <h3 class="footer-title">Follow Us</h3>
            <a href="https://www.facebook.com/prabanjan.rock.7" class="social-circle p-2"><span class="icon-facebook"></span></a>
            <a href="https://www.instagram.com/prabanjanrock/" class="social-circle p-2"><span class="icon-instagram"></span></a>
          </div>
          <div class="col-md-2 mb-3" data-aos="fade-up">
          <h3 class="footer-title">Work With Us</h3>
            <p><a  href="#" class="btn smoothscroll btn-primary footer-button" >Register</a></p>
          </div>
        </div>

        <div class="row mb-3"  >
          <div class="col-12 text-center " >
             <p >Copyright &copy;  GPK Studios
              <script>document.write(new Date().getFullYear());</script> </p>
             <p >Developed &#38; Maintained by <span> <a href="https://petigl.com"> Petigl</a> </span></p>  
          </div>
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->
  <script>
  if (window.netlifyIdentity) {
  window.netlifyIdentity.on("init", user => {
    if (!user) {
      window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
      });
    }
  });
}
</script>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="./js/masonry.pkgd.js"></script>
  <script src="./js/imagesloaded.pkgd.js"></script>
  <script src="./js/jquery.waypoints.min.js"></script>
  <script src="js/form-submission-handler.js"></script>
  <script src="js/lazyload.min.js"></script>
  <script src="js/jquery.lazyload.min.js"></script>

  <script src="js/main.js"></script>
 
</body>

</html>